@tailwind base;
@tailwind components;
@tailwind utilities;

/*! global styles */
body {
  font-family: 'Raleway-medium', sans-serif, monospace;
}

@media (min-width:576px) {
  .myContainer {
    max-width: 540px !important;
  }
}


@media (min-width:768px) {
  .myContainer {
    max-width: 720px !important;
  }
}

@media (min-width:992px) {
  .myContainer {
    max-width: 960px !important;
  }
}

@media (min-width:1200px) {
  .myContainer {
    max-width: 1140px !important;
  }
}

@media (min-width:1400px) {
  .myContainer {
    max-width: 1320px !important;
  }
}

.myContainer {
  width: 100% !important;
  padding: 0px 12px;
  margin: 0 auto;
}

/*! fonts */

@font-face {
  font-family: 'Raleway-regular';
  src: url('/fonts/Raleway/Raleway-Regular.eot');
  src: url('/fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Regular.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-medium';
  src: url('/fonts/Raleway/Raleway-Medium.eot');
  src: url('/fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Medium.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-light';
  src: url('/fonts/Raleway/Raleway-Light.eot');
  src: url('/fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Light.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-bold';
  src: url('/fonts/Raleway/Raleway-Bold.eot');
  src: url('/fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Bold.woff') format('woff'),
    url('/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*! breadcrumb */

.breadcrumbBg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/cart-page-header-img.jpg');
}